# Python Bytecode
__pycache__/
*.py[cod]

# Python virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE and editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
egg-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache

# Coverage reports
htmlcov/
*.cover
*.coverage
.coverage.*

napcat
node_modules
/data/
